@font-face {
  font-family: 'WorldColliderRegular';
  src: url('https://cdn.glitch.com/12e8d23e-5a09-41e4-8be1-39d7a1f7d631%2Fwebfonts_Syne-Regular.woff?v=1603659426280'); 
}

body{
  background-color: #313131;
  color: white;
  font-family: 'WorldColliderRegular',sans-serif;

}

#main_section{
  position: relative;
  width: 80%;
  padding: 20px;
  margin: auto;
  align-self: center;
  
}


#logo{
  position: absolute;
  top:30px;
  left:20px;
  font-size: 30px;
line-height: 88.8%;
letter-spacing: -0.05em;


}

#about{
  position: absolute;
  font-size: 25px;
  top:30px;
  right:20px;
  
}

.main_text{
  
  margin-top:20px;
    margin-bottom:40px;

  font-size: 18px;
  line-height: 168.8%;


  
}

#answer{
  color: white;
  font-family: 'WorldColliderRegular',sans-serif;
  line-height: 25px;
  padding-bottom: 20px;
  margin-top:130px
}


a{
  color: aliceblue;
  text-decoration: none;
}

.section_building{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;;
}

.main_container{
  display: flex;
  max-width: 400px;
  flex-direction: column;
  border: 2px solid white;
  margin-bottom: 30px;
  margin-left: 0.5vw;
  margin-right:0.5vw;
}
.thumbnail{
  width: 100%;
}
.main_title{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  font-size: 28px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
}
.AR_option_box{ 
  padding-top: 10px;
  padding-bottom: 10px;
font-size: 23px;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 text-align: center;
}

.middleborder{
  border-right: 2px solid white;
  padding-top: -10px;
  padding-bottom: -10px;
}
.AppleAR{
  padding:3px;
}




button {
  font-family: 'WorldColliderRegular',sans-serif;
  background-color: #a9a9a9	;
  text-align: center;
  padding: 0 5%;
}

button {
  display: inline-block;
  font-size: 2rem;
  background-color: black;
  border-radius: 8px;
  border: none;
}

tr {
  outline: 2px solid black;
}

video {
  max-width: 50vw;
}

model-viewer {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 40vh;
}
